body {
  background-color: #000;
  color: #ff69b4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
}

.tabela-container {
  overflow-x: auto;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
}

th, td {
  border: 1px solid #ff69b4;
  padding: 8px;
  text-align: center;
}

input {
  width: 60px;
  text-align: center;
  background-color: #111;
  color: #ff69b4;
  border: 1px solid #ff69b4;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border-color: #fff;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #111;
  color: #ff69b4;
}

.total-container {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #111;
  border: 1px solid #ff69b4;
  border-radius: 8px;
}

.total-container h2 {
  color: #ff69b4;
  margin-bottom: 10px;
}

.total-container p {
  margin: 5px 0;
  color: #fff;
  font-size: 18px;
}
